@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
--blue: #0ea5e9;
--orange: #f59e0b;
--white: #f8fafc;
--gray: #e2e8f0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 15vw)) repeat(1, minmax(500px, 85vw));
    grid-template-rows: repeat(1, 20vh) repeat(2, 80vh);
    overflow: auto;
}

/* Button effects */
.btn{
    background-color: inherit;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* HEADER */
.header{
    background-color: var(--white);
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
    padding: 1rem 2rem;
}

.top-left{
    grid-area: 1/1/2/2;
    margin: auto 0;
}

#searchbar{
    height: 1.5rem;
    width: 90%;
    border: none;
    border-radius: 1rem;
    background-color: var(--gray);
    margin-left: 1rem;
}

.top-right{
    grid-area: 1/2/2/3;
    align-items: center;
    justify-items: center;
}

.top-right, .bottom-right{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.bottom-right{
    place-items: center;
}

.profile-name1{
    font-size: 1rem;
}

.greetings{
    font-size: .8rem;
    display: block;
}

.profile-name2{
    font-size: 1.5rem;
}

.header-btn{
    background-color: var(--blue) !important;
    border-radius: 1rem;
    color: var(--white);
    height: 50%;
    width: 70%;
}

/* DASHBOARD */
.sidebar{
    background-color: var(--blue);
    grid-area: 1/1/3/2;
    display: grid;
    padding: 1rem;
    grid-template-rows: 10% 40% 60%;
}

.dash-btn{
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
}

.selections, .settings{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 40px);
    place-items: start;
}

.side-btn{
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
}

/* MAINT CONTENT */
.main-content{
    background-color: var(--gray);
    grid-area: 2/2/3/3;
}